.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .data-area{
        min-height: 400px;
        width: 600px;

        .data-info{
            color: teal;
            
        }
    }
}